@roadreadysafety:registry=https://roadreadysafety-632757408528.d.codeartifact.us-east-2.amazonaws.com/npm/npm-packages/
//roadreadysafety-632757408528.d.codeartifact.us-east-2.amazonaws.com/npm/npm-packages/:always-auth=true
//roadreadysafety-632757408528.d.codeartifact.us-east-2.amazonaws.com/npm/npm-packages/:_authToken=${CODEARTIFACT_AUTH_TOKEN}